html {
  overflow-x: hidden;
}

.pic-title {
  background-image: url("/img/bg-2.jpg");
  background-size: contains;
  width: 300px; 
  height: 300px;
  border: solid 2px red;
}

* {
    box-sizing: border-box;
    background-color: rgb(206, 216, 223);
}

/* unvisited link */
a:link {
    color: rgb(0, 0, 0);
}
/* visited link */
a:visited {
    color: #095484;
}
/* mouse over link */
a:hover {
    color: #e0120b;
}
/* selected link */
a:active {
    color: #800000;
}

/* Header, Footer  */
.header,
.footer {
    background-color: grey;
    color: rgb(7, 7, 7);
    padding: 15px;
    text-align: center;
}

.column {
    float: left;
    padding: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    float: left;
    max-width: fit-content;
    height: fit-content;
    padding: 5px;
    border: solid #333;
    color: black;
}

.content {
    width: 75%;
    color: black;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 4px;
    margin-bottom: 7px;
    background-color: #918ea3;
    color: #f8f8f8;
}

.menu li:hover {
    background-color: #3941af;
}

/* Social Icon */

.social-icon li {
  display: inline-block;
}

.social-icon li a {
  color: #000;
  width: 35px;
  height: 35px;
  line-height: 38px;
  display: block;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  margin: 15px 6px 12px 6px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.button {
    width:60px;
    height:30px;
    font-size:10px;
    color: #000000;
}

li button:hover {
  background-color: rgb(144, 163, 216);
}

.anim {
  position: relative;
  animation-name: header-anim;
  animation-duration: 4s;
}

@keyframes header-anim {
  from {background-color: rgb(132, 159, 233);}
  to {background-color: rgb(149, 181, 184);}
}

.margin {
    margin: 10px auto 20px;
    display: block;
}
